<section class="about" id="about">
  <div class="container">
    <div class="about__content">
      <h2 class="about__content__title reveal-on-scroll">
        <p>«Я не читаю мысли,</p>
        <p>я вижу как вы думаете!»</p>
      </h2>
      <div class="about__content__info">
        <div class="title reveal-on-scroll">
          <span>Александр</span>
          <span>Шишук</span>
        </div>
        <div class="subtitle reveal-on-scroll">
          <span>Один из лучших<br>менталистов России и Беларуси</span><br>
          <span>Психологический иллюзионист •<br> Психолог • Эстрадный гипнотизёр</span>
        </div>
        <div class="line"></div>
        <div class="description reveal-on-scroll">
          <p>Уже более 15 лет я изучаю психологию восприятия, невербальное поведение и механизмы принятия решений.</p>
          <p>В своих выступлениях я показываю, как через тонкости психологии, эмоций и невербального поведения можно создавать ощущение чуда и заставлять зрителей по-новому взглянуть на возможности человеческого разума.</p>
          <p>Моё шоу — о людях, внимании, эмоциях и тех удивительных возможностях человеческого мышления, которые способен открыть в себе каждый зритель.</p>
        </div>
        <button class="button reveal-on-scroll">
          <span>Подробнее обо мне</span>
        </button>
      </div>
    </div>
  </div>
</section>
