@use 'mixins';

:host {
  display: block;
}

.container {
  height: 100%;
  margin: auto;
  max-width: 1200px;

  @media (max-width: 1400px) { max-width: 1100px; }
  @media (max-width: 1280px) { max-width: 1000px; }
  @media (max-width: 1024px) { max-width: 900px; }
  @media (max-width: 950px) {
    max-width: 100%;
    padding: 0 24px;
  }
}

.about {
  height: 933px;
  background-image: url("/assets/images/background-about.webp");
  background-size: cover;
  background-position-x: center;

  @media(max-width: 726px) {
    background-image: url("/assets/images/background-about-768.webp"), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    background-repeat: no-repeat;
  }

  @media(max-width: 520px) {
    background-image: url("/assets/images/background-about-520.webp"), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    height: 780px;
    background-position: center -70px, center center;
  }

  @media(max-width: 360px) {
    background-image: url("/assets/images/background-about-360.webp"), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    height: 780px;
    background-position: center
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: flex-end;
    padding-top: 74px;

    @media (max-width: 726px) {
      padding-top: 30px;
      gap: 350px;
    }

    @media(max-width: 520px) {
      gap: 220px;
    }

    @media(max-width: 360px) {
      gap: 240px;
    }

    &__title {
      @include mixins.title-block;
      font-style: italic;
      line-height: 100%;
      letter-spacing: 0;
      text-transform: uppercase;
      width: 785px;

      @media(max-width: 1024px) {
        width: 750px;
      }

      @media (max-width: 924px) {
        width: 700px;
      }

      @media (max-width: 800px) {
        width: 650px;
      }

      @media (max-width: 726px) {
        width: 533px;
      }

      @media (max-width: 620px) {
        font-size: 28px;
        width: 450px;
      }

      @media (max-width: 520px) {
        font-size: 25px;
        width: 380px;
      }

      @media (max-width: 480px) {
        font-size: 22px;
        width: 330px;
      }

      @media (max-width: 420px) {
        font-size: 18px;
        width: 300px;
      }

      @media (max-width: 360px) {
        font-size: 15px;
        width: 230px;
      }


      p:last-child {
        text-align: right;
      }
    }

    &__info {
      width: 721px;
      display: flex;
      flex-direction: column;
      gap: 22px;

      @media(max-width: 1024px) {
        width: 670px;
      }

      @media (max-width: 924px) {
        width: 640px;
      }

      @media (max-width: 850px) {
        width: 600px;
      }

      @media (max-width: 800px) {
        width: 570px;
      }

      @media (max-width: 726px) {
        gap: 5px;
      }

      @media (max-width: 620px) {
        width: 500px;
      }

      @media (max-width: 550px) {
        width: 100%;
      }

      @media (max-width: 520px) {
        gap: 15px;
      }

      .title {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;

        @media (max-width: 850px) {
          font-size: 30px;
        }

        @media (max-width: 620px) {
          font-size: 25px;
        }

        @media (max-width: 520px) {
          display: flex;
          flex-direction: column-reverse;
          font-size: 25px;
          width: 200px;
          order: 1;
        }
      }

      .subtitle {
        color: #E6CC89;
        font-size: 20px;
        font-weight: 600;
        white-space: nowrap;
        letter-spacing: -0.25px;
        line-height: 30px;

        span {
          br {
            display: none;
            @media (max-width: 520px) {
              display: block !important;
            }
          }
        }

        @media (max-width: 850px) {
          font-size: 18px;
        }

        @media (max-width: 620px) {
          font-size: 15px;
          white-space: wrap;
        }

        @media (max-width: 520px) {
          font-size: 16px;
          line-height: 20px;
          order: 3;
          display: flex;
          flex-direction: column;
          gap: 10px;

          br:first-of-type {
            display: none;
          }
        }
      }

      .line {
        @include mixins.gradient-divider;

        @media (max-width: 520px) {
          order: 2;
          width: 150px;
        }
      }

      .description {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        line-height: 28.8px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (max-width: 850px) {
          font-size: 18px;
        }

        @media (max-width: 726px) {
          gap: 5px;
          font-size: 14px;
        }

        @media (max-width: 620px) {
          gap: 0;
        }

        @media (max-width: 520px) {
          font-size: 10px;
          line-height: normal;
          order: 4;
          gap: 10px;
          width: 290px;
        }
      }

      .button {
        @include mixins.gradient-button;

        align-self: flex-end;
        margin-top: 25px;

        @media (max-width: 620px) {
          margin-top: 15px;
        }

        @media (max-width: 520px) {
          order: 5;
          width:  320px;
          align-self: center;
          background: linear-gradient(#4B1115, #040300);
        }

        @media (hover: none) {
          color: #DFC784;
          border-color: rgba(223, 199, 132, 0.4);

          &::before {
            transform: scaleX(0);
          }
        }

        @media (max-width: 430px) {
          width: 100%;
        }
      }
    }
  }
}
