@use 'mixins';

:host {
  display: block;
}

.container {
  height: 100%;
  margin: auto;
  max-width: 1200px;

  @media (max-width: 1400px) { max-width: 1100px; }
  @media (max-width: 1280px) { max-width: 1000px; }
  @media (max-width: 1024px) { max-width: 900px; }
  @media (max-width: 950px) {
    max-width: 100%;
    padding: 0 24px;
  }
}

.about {
  height: 933px;
  background-image: url("/assets/images/background_4.webp");
  background-size: cover;
  background-position-x: center;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: flex-end;
    padding-top: 74px;

    &__title {
      @include mixins.title-block;
      font-style: italic;
      line-height: 100%;
      letter-spacing: 0;
      text-transform: uppercase;
      width: 785px;

      @media(max-width: 1024px) {
        width: 750px;
      }

      @media (max-width: 924px) {
        width: 700px;
      }

      @media (max-width: 800px) {
        width: 650px;
      }

      p:last-child {
        text-align: right;
      }
    }

    &__info {
      width: 721px;
      display: flex;
      flex-direction: column;
      gap: 22px;

      @media(max-width: 1024px) {
        width: 670px;
      }

      @media (max-width: 924px) {
        width: 640px;
      }

      @media (max-width: 850px) {
        width: 600px;
      }

      @media (max-width: 800px) {
        width: 570px;
      }

      .title {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;

        @media (max-width: 850px) {
          font-size: 30px;
        }
      }

      .subtitle {
        color: #E6CC89;
        font-size: 20px;
        font-weight: 600;
        white-space: nowrap;
        letter-spacing: -0.25px;
        line-height: 30px;

        @media (max-width: 850px) {
          font-size: 18px;
        }
      }

      .line {
        @include mixins.gradient-divider;
      }

      .description {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        line-height: 28.8px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (max-width: 850px) {
          font-size: 18px;
        }
      }

      .button {
        @include mixins.gradient-button;
        width: 373px;
        align-self: flex-end;
        margin-top: 25px;
      }
    }
  }
}
