<div
  class="drawer"
  [class.drawer--hidden]="isMobile() && !rendered()"
  [class.drawer--static]="!isMobile()"
  [class]="isMobile() ? animationClass() : ''"
>
  <button type="button" class="drawer__close" (click)="closeFromButton()" aria-label="Закрыть">
    <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24 12H3M3 12L10 5M3 12L10 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  <div class="drawer__content">
    <ng-content></ng-content>
  </div>
  <div
    class="drawer__handle"
    (touchstart)="onHandleTouchStart($event)"
    (touchmove)="onHandleTouchMove($event)"
    (touchend)="onHandleTouchEnd()"
  >
    <span class="drawer__handle__bar"></span>
  </div>
</div>
