<section class="corporate-about" id="about">
  <div class="corporate-about__bg" #bg></div>
  <picture class="corporate-about__character" #character>
    <img src="/assets/images/corporate/corporate-about-hero.webp"
         alt="Менталист Александр Шишук на корпоративе"
         width="470" height="417">
  </picture>
  <div class="container">
    <h2 class="corporate-about__title">
      <span>Шоу менталиста для</span><br>
      корпоративного мероприятия
    </h2>
    <div class="corporate-about__content">
      <p class="corporate-about__description">Ищете фокусника на корпоратив, но хотите более современное и необычное выступление? Выступление менталиста объединяет зрелищные иллюзии, психологию и живой интерактив с гостями.</p>
      <p class="corporate-about__description">Моё шоу — современный развлекательный формат для корпоративов, деловых событий, праздничных вечеров и мероприятий компаний.</p>
      <div class="corporate-about__items">
        @for (item of items; track item.icon) {
          <div class="corporate-about__item">
            <div class="corporate-about__item__image">
              <img [src]="item.icon" class="corporate-about__item__image" width="174" height="140"  [alt]="'иконка с текстом ' + item.icon"/>
            </div>
            <div class="corporate-about__item__subtitle">{{ item.text }}</div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
