@use 'mixins';
@use '../../../../shared/styles/animations';

.landing {
  display: block;
  position: relative;

  .container {
    height: 100%;
    margin: auto;
    max-width: 1200px;

    @media (max-width: 1400px) {
      max-width: 1100px;
    }

    @media (max-width: 1280px) {
      max-width: 1000px;
    }

    @media (max-width: 1024px) {
      max-width: 900px;
    }

    @media (max-width: 950px) {
      max-width: 100%;
      padding: 0 24px;
    }
  }

  .ribbon {
    width: 100%;
    background: linear-gradient(180deg, #531317 0%, #3A0D10 120.13%);
    display: grid;
    place-items: center;

    &__content {
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.marquee-active {
        justify-content: flex-start;
      }

      &__items {
        width: 1200px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.marquee-track {
          width: max-content;
          justify-content: flex-start;
          animation: marquee 35s linear infinite;
          column-gap: 40px;
        }
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        text-align: center;

        p {
          width: 200px;
          font-weight: 300;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
  }

  .ribbon2 {
    width: 100%;
    background: linear-gradient(180deg, #531317 0%, #3A0D10 120.13%);
    height: 150px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__track {
      display: flex;
      align-items: center;
      width: max-content;
      will-change: transform;

      &.marquee-track {
        animation: marquee 30s linear infinite;
        column-gap: 100px;
      }

      span {
        white-space: nowrap;
        display: inline-grid;
        place-items: center;
        @include mixins.title-block;
      }
    }

    &.marquee-active {
      justify-content: flex-start;
    }
  }
}
