<main class="corporate">
  <div class="safe-area"></div>
  <app-header [items]="items" (sectionClick)="onSectionClick($event.id, $event.block, $event.offset)">
    <img appHeaderStart ngSrc="/assets/images/corporate-logo.png" alt="Александр Шишук — менталист" height="55"
         width="124">
    <h1 appHeaderStart class="visually-hidden">Александр Шишук — менталист, психологический иллюзионист</h1>
  </app-header>
  <app-corporate-hero (sectionClick)="onSectionClick($event.id, $event.block, $event.offset)"/>
<!--  <section id="formats" class="corporate-stub">-->
<!--    <div class="container">-->
<!--      <h2>Форматы</h2>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section id="reviews" class="corporate-stub">-->
<!--    <div class="container">-->
<!--      <h2>Отзывы</h2>-->
<!--    </div>-->
<!--  </section>-->
  <app-reviews-section [items]="reviewsItems"/>
  <app-media [background]="'linear-gradient(180deg, #000000 0%, #23090A 46%, #000000 100%)'"/>
  <app-faq-section [items]="faqItems"/>
  <app-contacts/>
</main>
