<section class="main" id="hero">
  <div class="main__logo-bg" #logoBg>
    <img ngSrc="/assets/images/logo-768.png" alt="Александр Шишук — менталист" width="400" priority
         decoding="async"
         height="177">
  </div>
  <div class="main__bg" #heroBg></div>
  <picture class="main__character">
    <source media="(max-width: 360px)" srcset="/assets/images/hero-360.webp">
    <source media="(max-width: 768px)" srcset="/assets/images/hero-768.webp">
    <img ngSrc="/assets/images/hero.webp" alt="" width="671" height="1006" fetchpriority="high" decoding="async">
  </picture>
  <div class="container">
    <div class="main__content">
      <div class="main__content__logo">
        <picture>
          <source media="(max-width: 768px)" srcset="/assets/images/logo-768.png" width="400" height="177">
          <img ngSrc="/assets/images/logo.webp" alt="Александр Шишук — менталист" fetchpriority="high" decoding="async"
               height="289" width="652">
        </picture>
      </div>
      <h1 class="visually-hidden">Александр Шишук — менталист, психологический иллюзионист</h1>
      <p class="main__content__subtitle">{{ subtitleText }}</p>
      <button (click)="scrollTo($event, 'contacts-form', 'center')" style="margin-bottom: 24px;"
              class="main__content__button" #button>
        <span>обсудить мероприятие</span>
      </button>
      <app-socials class="hero-socials"/>
    </div>
  </div>
</section>
