@use 'mixins';

:host {
  display: block;
}

.container {
  position: relative;
  z-index: 2;
  height: 100%;
  margin: auto;
  max-width: 1200px;

  @media (max-width: 1400px) { max-width: 1100px; }
  @media (max-width: 1280px) { max-width: 1000px; }
  @media (max-width: 1024px) { max-width: 900px; }
  @media (max-width: 950px) {
    max-width: 100%;
    padding: 0 24px;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 1200px;
  overflow: hidden;

  @media (max-width: 950px) {
  }

  @media (max-width: 768px) {
    height: 900px;
  }

  @media (max-width: 360px) {
    height: 795px;
  }

  &__logo-bg {
    display: none;

    @media (max-width: 768px) {
      display: block;
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      pointer-events: none;
      width: 300px;
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("/assets/images/background-hero.webp");
    background-size: cover;
    background-position: center;
    will-change: transform;

    @media (max-width: 950px) {
      background-position-x: -655px;
    }

    @media (max-width: 768px) {
      background-image: url("/assets/images/background-hero-768.webp");
      background-position: center;
    }

    @media (max-width: 520px) {
      background-image: url("/assets/images/background-hero-520.webp");
      background-position: center;
    }

    @media (max-width: 360px) {
      background-image: url("/assets/images/background-hero-360.webp");
    }
  }

  &__character {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    will-change: transform;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: none;
      object-position: calc(50% + 440px) bottom;
    }

    @media (max-width: 950px) {
      img {
        object-position: calc(50% + 260px) bottom;
      }
    }

    @media (max-width: 768px) {
      img {
        object-position: center bottom;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    width: 652px;
    height: 100%;

    @media (max-width: 950px) {
      width: 500px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-top: 50px;
    }

    &__logo {
      @media (max-width: 768px) {
        display: none;
      }

      @media (max-width: 360px) {
        width: 280px;
      }
    }

    &__subtitle {
      position: relative;
      z-index: 2;
      display: inline-flex;
      flex-wrap: wrap;
      max-height: 60px;
      overflow: hidden;
      padding-left: 48px;
      margin-top: 24px;
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      color: #E6CC89;

      @media (max-width: 950px) {
        padding-left: 36px;
        font-size: 20px;
      }

      @media (max-width: 768px) {
        order: 4;
        width: 490px;
        margin-top: 5px;
      }

      @media(max-width: 576px) {
        display: none;
      }

      .scramble-char {
        display: inline-block;
        &.resolved {
          color: #E6CC89;
        }
      }
    }

    &__button {
      position: relative;
      z-index: 2;
      @include mixins.gradient-button;
      margin-left: 36px;
      align-self: flex-start;
      margin-top: 80px;

      &::before {
        @media (max-width: 768px) {
          background: linear-gradient(60deg,
            color-mix(in srgb, #503F1B 60%, transparent) -11.79%,
            color-mix(in srgb, #DFC784 60%, transparent) 102.68%);
        }
      }

      @media (max-width: 768px) {
        order: 2;
        margin-top: 510px;
        margin-left: 0;
        align-self: center;
      }

      @media (max-width: 520px) {
        width: 300px;
      }
    }

    app-socials,
    .hero-socials {
      position: relative;
      z-index: 2;
      padding-left: 30px;
      align-self: flex-start;
      width: 450px;

      @media (max-width: 768px) {
        order: 3;
        padding-left: 0 !important;
        align-self: center !important;
        margin-top: 80px;
      }

      @media (max-width: 576px) {
        width: 400px !important;
      }

      @media (max-width: 520px) {
        width: 320px !important;
      }

      @media (max-width: 360px) {
        margin-top: 40px;
      }
    }
  }
}
