<div class="carousel">
  <button
    type="button"
    class="carousel__arrow carousel__arrow--left"
    (click)="prevSlide()"
    aria-label="Предыдущий слайд"
  >
    <svg
      width="28"
      height="24"
      viewBox="0 0 28 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
    >
      <path d="M24 12H3M3 12L10 5M3 12L10 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  <div
    class="carousel__viewport"
    [style.height.px]="activeHeight() + slideBorderPadding() * 2"
    [style.--slide-border-padding.px]="slideBorderPadding()"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
    (touchcancel)="onTouchCancel()"
  >
    @for (item of items(); track item; let i = $index) {
      <div
        class="carousel__slide"
        [class.carousel__slide--clickable]="galleryEnabled()"
        [style]="getSliderStyle(i)"
        (click)="openGallery(i)"
      >
        @if (isSlideNearby(i)) {
          @if (slideTemplate(); as tpl) {
            <ng-container *ngTemplateOutlet="tpl; context: {$implicit: item, index: i}"></ng-container>
          } @else {
            <div class="carousel__slide__skeleton" aria-hidden="true"></div>
            <picture>
              @for (source of sliderPictureSources(sliderItems()[$index]); track source.media) {
                <source [media]="source.media" [srcset]="source.srcset" />
              }
              <img [src]="sliderItems()[$index]['520']" [alt]="'Слайд ' + (i + 1) + ' из ' + this.items().length" appSkeleton loading="lazy" decoding="async" [width]="activeWidth()" [height]="activeHeight()" />
            </picture>
          }
        }
      </div>
    }
  </div>
  <button
    type="button"
    class="carousel__arrow carousel__arrow--right"
    (click)="nextSlide()"
    aria-label="Следующий слайд"
  >
    <svg
      width="28"
      height="24"
      viewBox="0 0 28 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      style="transform: scaleX(-1)"
    >
      <path d="M24 12H3M3 12L10 5M3 12L10 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
<div class="carousel__counter">{{ currentSlideIndex() + 1 }} / {{ items().length }}</div>
<app-media-indicators
  class="carousel__dots"
  size="lg"
  [fullLength]="items().length"
  [page]="currentSlideIndex()"
  [maxDotsLength]="5"
  (pageChange)="goToSlide($event)"
></app-media-indicators>

@if (galleryEnabled()) {
  <app-gallery
    [sliderItems]="sliderItems()"
    [(galleryOpen)]="galleryOpen"
    [(galleryIndex)]="galleryIndex"
  />
}