<div class="carousel">
  <button
    type="button"
    class="carousel__arrow carousel__arrow--left"
    (click)="prevSlide()"
    aria-label="Предыдущий слайд"
  >
    <svg
      width="28"
      height="24"
      viewBox="0 0 28 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
    >
      <path d="M24 12H3M3 12L10 5M3 12L10 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  <div
    class="carousel__viewport"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
    (touchcancel)="onTouchCancel()"
  >
    @for (item of sliderItems(); track item; let i = $index) {
      <div
        class="carousel__slide"
        [style]="getSliderStyle(i)"
        (click)="openGallery(i)"
      >
        @if (isSlideNearby(i)) {
          <picture>
            @for (source of sliderPictureSources(item); track source.media) {
              <source [media]="source.media" [srcset]="source.srcset" />
            }
            <img [src]="item['520']" [alt]="'Фото выступления ' + (i + 1)" loading="lazy" decoding="async" width="425" height="283" />
          </picture>
        }
      </div>
    }
  </div>
  <button
    type="button"
    class="carousel__arrow carousel__arrow--right"
    (click)="nextSlide()"
    aria-label="Следующий слайд"
  >
    <svg
      width="28"
      height="24"
      viewBox="0 0 28 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      style="transform: scaleX(-1)"
    >
      <path d="M24 12H3M3 12L10 5M3 12L10 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
<div class="carousel__counter">{{ currentSlideIndex() + 1 }} / {{ totalSlides }}</div>
<app-media-indicators
  class="carousel__dots"
  size="lg"
  [fullLength]="sliderItems().length"
  [page]="currentSlideIndex()"
  [maxDotsLength]="5"
  (pageChange)="goToSlide($event)"
></app-media-indicators>

<app-gallery
  [sliderItems]="sliderItems()"
  [(galleryOpen)]="galleryOpen"
  [(galleryIndex)]="galleryIndex"
></app-gallery>
