<section class="lectures" id="lectures">
  <div class="container">
    <div class="lectures__content">
      <div class="lectures__content__left">
        <div class="title reveal-on-scroll">
          АВТОРСКИЕ ШОУ
        </div>
        <div class="subtitle reveal-on-scroll">
          Авторские ментальные шоу, театральные проекты<br>и программы, созданные на пересечении<br>психологии, фокусов и иллюзий
        </div>
        <div class="button reveal-on-scroll">
          <span>СМОТРЕТЬ АВТОРСКИЕ ШОУ</span>
        </div>
      </div>
      <div class="lectures__content__right">
        <div class="title reveal-on-scroll">
          ЛЕКЦИИ
        </div>
        <div class="subtitle reveal-on-scroll">
          Интерактивные лекции и тренинги о психологии<br>восприятия, профайлинге, невербальном<br>поведении, гипнозе и ментализме
        </div>
        <div class="button reveal-on-scroll">
          <span>подробнее о лекциях</span>
        </div>
      </div>
    </div>
  </div>
</section>
