@use 'mixins';

:host {
  display: block;
}

.container {
  height: 100%;
  margin: auto;
  max-width: 1200px;

  @media (max-width: 1400px) { max-width: 1100px; }
  @media (max-width: 1280px) { max-width: 1000px; }
  @media (max-width: 1024px) { max-width: 900px; }
  @media (max-width: 950px) {
    max-width: 100%;
    padding: 0 24px;
  }

  @media(max-width: 768px) {
    padding: 0;
  }
}

.lectures {
  height: 899px;
  background-image: url("/assets/images/background_5.webp");
  background-size: cover;
  background-position-x: center;

  @media(max-width: 1024px) {
    background-image: url("/assets/images/background-shows.webp");
  }

  @media(max-width: 768px) {
    height: auto;
    background-image: none;
  }

  &__content {
    display: flex;

    @media(max-width: 768px) {
      flex-direction: column;
    }

    &__left,
    &__right {
      width: 100%;

      @media(max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .title {
        @include mixins.title-block;
        margin-top: 92px;
        text-transform: uppercase;

        @media (max-width: 900px) {
          font-size: 36px;
        }

        @media(max-width: 768px) {
          margin-top: 36px;
        }
      }

      .subtitle {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 28.8px;
        margin-top: 437px;

        @media(max-width: 1024px) {
          font-size: 18px;
        }

        @media (max-width: 900px) {
          font-size: 16px;
        }

        @media (max-width: 825px) {
          font-size: 15px;
        }

        @media(max-width: 768px) {
          margin-top: 200px;
        }
      }

      .button {
        margin-top: 50px;
        @include mixins.gradient-button;
        background: linear-gradient(#4B1115, #040300);

        @media (max-width: 900px) {
          font-size: 20px;
        }

        @media(max-width: 768px) {
          margin-top: 25px;
        }

      }
    }

    &__left {
      @media(max-width: 768px) {
        background-image: url("/assets/images/background-shows.webp");
        background-size: cover;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-content: flex-end;

      @media(max-width: 768px) {
        align-items: center;
        background-image: url("/assets/images/background-shows.webp");
        background-size: cover;
      }

      .title,
      .subtitle {
        text-align: right;
        @media(max-width: 768px) {
          text-align: start;
        }
      }

      .button {
        align-self: flex-end;
        @media(max-width: 768px) {
          align-self: auto;
        }
      }
    }
  }
}
