/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  --tui-background-accent-1: #E3CB88 !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
  background-color: #0a0a0a;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: env(safe-area-inset-top);
    background-color: #0a0a0a;
    z-index: 9999;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

// Hide scrollbar everywhere in calendar
tui-calendar-spin,
tui-spin-button,
tui-calendar-year,
tui-scrollbar {
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }

  * {
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

// Calendar theme
tui-calendar,
tui-calendar-spin {
  color: #ffffff !important;

  button[tuiLink] {
    color: #DFC784 !important;
  }
}

tui-spin-button .t-button {
  color: #DFC784 !important;
}

tui-calendar-year {
  .t-cell {
    color: #ffffff !important;
  }

  .t-cell_today {
    color: #DFC784 !important;
  }

  .t-cell[data-range=active] {
    color: #ffffff !important;

    &:after {
      background: #DFC784 !important;
    }
  }

  * {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

tui-calendar-sheet {
  .t-cell {
    color: #ffffff !important;
  }

  .t-cell[data-type=weekend] {
    color: #e53935 !important;
  }

  .t-row_weekday {
    color: rgba(255, 255, 255, 0.6) !important;
  }

  .t-cell[data-range=active]:after {
    background: #DFC784 !important;
  }
}
