@use 'mixins';

:host {
  display: block;
}

.corporate-hero {
  position: relative;
  width: 100%;
  height: 997px;
  overflow: hidden;
  background: #0a0a0a;
  color: #fff;
  font-family: Montserrat, sans-serif;

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("/assets/images/background-corporate-hero.webp");
    background-size: cover;
    background-position: center;
    will-change: transform;
  }

  &__character {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    will-change: transform;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: none;
      object-position: calc(50% + 440px) bottom;
    }

    @media (max-width: 950px) {
      img {
        object-position: calc(50% + 260px) bottom;
      }
    }

    @media (max-width: 768px) {
      img {
        object-position: center bottom;
      }
    }
  }

  &__content {
    margin-top: 172px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 750px;
  }

  &__title {
    @include mixins.title-block;
    position: relative;
    z-index: 2;

    font-size: 50px;
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    font-size: clamp(16px, 2.4vw, 24px);
    font-weight: 600;
    color: #E6CC89;
    max-width: 650px;

    span {
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }

  &__description {
    font-weight: 400;
    font-size: clamp(16px, 2.4vw, 20px);
    max-width: 570px;
  }

  .line {
    @include mixins.gradient-divider;
    max-width: 650px;
  }

  &__button {
    position: relative;
    z-index: 2;
    width: 406px;
    @include mixins.gradient-button;

    &::before {
      @media (max-width: 768px) {
        background: linear-gradient(60deg,
        color-mix(in srgb, #503F1B 60%, transparent) -11.79%,
        color-mix(in srgb, #DFC784 60%, transparent) 102.68%);
      }
    }

    @media (max-width: 768px) {
      order: 2;
    }

    @media (max-width: 520px) {
      width: 300px;
    }
  }

  &__note {
    display: flex;
    align-content: center;
    gap: 25px;

    p {
      color: #E6CC89;
      font-weight: 600;
      letter-spacing: -0.25px;
      line-height: 30px;
      font-size: clamp(16px, 2.4vw, 20px);
    }
  }
}

.container {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  position: relative;
  z-index: 2;

  @media (max-width: 1400px) {
    max-width: 1100px;
  }

  @media (max-width: 1280px) {
    max-width: 1000px;
  }

  @media (max-width: 1024px) {
    max-width: 900px;
  }

  @media (max-width: 950px) {
    max-width: 100%;
    padding: 0 24px;
  }
}
