@use 'mixins';

:host {
  display: block;
}

.corporate-hero {
  position: relative;
  width: 100%;
  height: 997px;
  overflow: hidden;
  background: #0a0a0a;
  color: #fff;
  font-family: Montserrat, sans-serif;

  @media (max-width: 768px) {
    height: 902px;
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("/assets/images/background-corporate-hero.webp");
    background-size: cover;
    background-position: center;
    will-change: transform;

    //@media (max-width: 768px) {
    //  background-image: url("/assets/images/background-corporate-hero-768.webp");
    //}
  }

  &__character {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    will-change: transform;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: none;
      object-position: calc(50% + 440px) bottom;
    }

    @media (max-width: 1400px) {
      img {
        object-position: calc(100% + 150px) bottom;
      }
    }

    @media (max-width: 1050px) {
      img {
        object-fit: cover;
        object-position: center 30px;
      }
    }

    @media (max-width: 768px) {
      img {
        object-fit: none;
        object-position: bottom;
      }
    }
  }

  &__content {
    margin-top: 172px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 750px;

    @media (max-width: 1050px) {
      margin: 420px auto auto;
      gap: 16px;
      max-width: 650px;
    }

    @media (max-width: 768px) {
      margin-top: 92px;
    }
  }

  &__title {
    @include mixins.title-block;
    position: relative;
    z-index: 2;

    font-size: 50px;

    @media (max-width: 1050px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 36px;
      margin-bottom: 223px;
      order: 1;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 600;
    color: #E6CC89;
    max-width: 650px;

    @media (max-width: 1050px) {
      max-width: 550px;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 305px;
      order: 2;
    }


    .mdash {
      display: inline;

      @media (max-width: 768px) {
        display: none;
      }
    }
    .line {
      height: 1px !important;
      width: 227px !important;
    }

    .line,
    br {
      display: none;

      @media (max-width: 768px) {
        display: block !important;
      }
    }

    p {
      display: inline;
    }
    p:first-child {
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }

  &__description {
    font-weight: 400;
    font-size: clamp(16px, 1.8vw, 20px);
    max-width: 570px;

    @media (max-width: 768px) {
      order: 4;
      font-size: 16px;
      max-width: 470px;
    }
  }

  .line {
    @include mixins.gradient-divider;
    max-width: 650px;

    @media (max-width: 1050px) {
      max-width: 550px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__button {
    position: relative;
    z-index: 2;
    width: 406px;
    @include mixins.gradient-button;

    &::before {
      @media (max-width: 768px) {
        background: linear-gradient(60deg,
        color-mix(in srgb, #503F1B 60%, transparent) -11.79%,
        color-mix(in srgb, #DFC784 60%, transparent) 102.68%);
      }
    }

    @media (max-width: 768px) {
      order: 3;
    }

    @media (max-width: 520px) {
      width: 300px;
    }
  }

  &__note {
    display: flex;
    align-content: center;
    gap: 25px;

    @media (max-width: 768px) {
      order: 4;
    }

    p {
      color: #E6CC89;
      font-weight: 600;
      letter-spacing: -0.25px;
      line-height: 30px;
      font-size: clamp(16px, 2.4vw, 20px);
    }
  }
}

.container {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  position: relative;
  z-index: 2;

  @media (max-width: 1400px) {
    max-width: 1100px;
  }

  @media (max-width: 1280px) {
    max-width: 1000px;
  }

  @media (max-width: 1024px) {
    max-width: 900px;
  }

  @media (max-width: 950px) {
    max-width: 100%;
    padding: 0 24px;
  }
}
