<header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__nav__items">
        @for (item of items(); track item.label) {
          <li class="header__nav__item">
            <a [href]="item.href"
               [class.active]="(activeSection() === item.href.slice(1)) || (!activeSection() && $index === 0)"
               (click)="scrollTo($event, item.href.slice(1), item.block, item.offset)">{{ item.label }}</a>
          </li>
        }
      </ul>
    </nav>

    <button
      class="burger"
      [class.burger--hidden]="menuOpen()"
      (click)="toggleMenu()"
      type="button"
      [attr.aria-label]="menuOpen() ? 'Закрыть меню' : 'Открыть меню'"
      [attr.aria-expanded]="menuOpen()"
      aria-controls="main-nav"
      aria-haspopup="true"
    >
      <svg
        width="28"
        height="20"
        viewBox="0 0 28 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
      >
        <rect class="burger__line burger__line--1" x="0" y="0" width="28" height="2" rx="1" fill="white"/>
        <rect class="burger__line burger__line--2" x="0" y="9" width="28" height="2" rx="1" fill="white"/>
        <rect class="burger__line burger__line--3" x="0" y="18" width="28" height="2" rx="1" fill="white"/>
      </svg>
    </button>
  </div>
</header>

<app-drawer [isOpen]="menuOpen()" (closed)="menuOpen.set(false)">
  <nav class="drawer__nav">
    <ul class="drawer__nav__items">
      @for (item of items(); track item.label;) {
        <li class="drawer__nav__item">
          <a [href]="item.href"
             [class.active]="(activeSection() === item.href.slice(1)) || (!activeSection() && $index === 0)"
             (click)="scrollTo($event, item.href.slice(1), item.block, item.offset)">{{ item.label }}</a>
        </li>
      }
    </ul>
  </nav>
</app-drawer>
